BASE_URL='xxx'
DB_NAME='xxx'
DB_HOST='xxx'
DB_PORT='xxx'
DB_USER='xxx'
DB_PASSWORD='xxx'
NODE_ENV='xxx'
PORT='xxx'
STRATEGY='naive'
JWT_SECRET='secret_for_very_ver_secret_application'
AWS_REGION='xxx'
AWS_S3_BUCKET='xxx'
AWS_ACCESS_KEY_ID='xxx'
AWS_SECRET_ACCESS_KEY='xxx'
AWS_S3_ENDPOINT='xxx'
AWS_S3_FORCE_PATH_STYLE='true'
AWS_CLOUDFRONT_URL='xxx'
FILES_PRESIGN_EXPIRES_IN_SEC='900'
RABBITMQ_URL='xxx'
RABBITMQ_PREFETCH='xxx'
RABITMQ_MAX_ATTEMPTS='xxx'
RABBITMQ_SIMULATE_CONSUME_ERRORS=true
