BASE_URL='xxx'
DB_NAME='xxx'
DB_HOST='xxx'
DB_PORT='xxx'
DB_USER='xxx'
DB_PASSWORD='xxx'
NODE_ENV='xxx'
PORT=3000
STRATEGY='naive'
JWT_SECRET='secret_for_very_ver_secret_application'
AWS_REGION='xxx'
AWS_S3_BUCKET='xxx'
AWS_ACCESS_KEY_ID='xxx'
AWS_SECRET_ACCESS_KEY='xxx'
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE='true'
AWS_CLOUDFRONT_URL='xxx'
FILES_PRESIGN_EXPIRES_IN_SEC='900'
RABBITMQ_URL='xxx'
RABBITMQ_PREFETCH='xxx'
RABBITMQ_EXT_PORT=5673
RABBITMQ_INT_PORT=5672
RABBITMQ_UI_EXT_PORT=15673
RABBITMQ_UI_INT_PORT=15672
MINIO_EXT_PORT=9000
MINIO_INT_PORT=9000
MINIO_UI_EXT_PORT=9001
MINIO_UI_INT_PORT=9001
GRPC_BIND_PORT=5021
GRPC_MIN_TIMEOUT_RESPONSE_MS=1000
GRPC_MAX_TIMEOUT_RESPONSE_MS=10000
GRPC_MAX_COUNT_RETRIES=5
RABITMQ_MAX_ATTEMPTS='xxx'
RABBITMQ_SIMULATE_CONSUME_ERRORS=false
