# compiled output
/dist
/node_modules

# Logs

# Tests
/coverage
/.nyc_output

# dotenv environment variable files
.env
.env.*
!.env.example

# in real development there migrations folder will be ignored too
# I left it to show what was done
# migrations

README.example.md
pgdata_files_module
minio_files_module
